# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
newenv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git
.git/
.gitignore

# Logs
*.log

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db
