# Combined Requirements for Moseca, Basic Pitch, and ADTOF

# Core Libraries
absl-py==2.1.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
astunparse==1.6.3
audioread==3.0.1
beautifulsoup4==4.12.3
basic-pitch==0.4.0
brotli==1.0.9
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.6
cloudpickle==3.1.0
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
decorator==5.1.1
demucs==4.0.0
diffq==0.2.4
dora-search==0.1.12
einops==0.6.1
EasyProcess==1.1
entrypoint2==1.1
fastapi==0.100.0
ffmpeg-python==0.2.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
future==1.0.0
gast==0.6.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0 # Downgraded to be compatible with TensorFlow 2.14.0
google-pasta==0.2.0
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
idna==3.10  # Upgraded from 3.4 for compatibility
jinja2==3.1.2
jellyfish==1.1.0
joblib==1.4.2  # Upgraded from 1.3.1
julius==0.2.7
keras==2.14.0
kiwisolver==1.4.7
lazy-loader==0.4
lameenc==1.5.1
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
loguru==0.7.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mdurl==0.1.2
mido==1.3.3
mir-eval==0.7
ml-dtypes==0.2.0 # Downgraded for Compatability with TensorFlow 2.14.0
mpmath==1.3.0
msgpack==1.1.0
mutagen==1.46.0
networkx==3.1
numba==0.60.0
numpy==1.24.4  # Downgraded from 2.0.2 for broader compatibility
oauthlib==3.2.2
omegaconf==2.3.0
openunmix==1.2.1
opt-einsum==3.4.0
optree==0.13.0
packaging==23.1
pandas==2.2.3
pillow==11.0.0
pooch==1.8.2
pretty-midi==0.2.10
protobuf==3.20.3
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pycryptodomex==3.21.0
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-multipart==0.0.12
pydantic==1.10.9
pydub==0.25.1
pytube==12.1.3
pytz==2024.2
pyunpack==0.3
pyyaml==6.0
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.2
retrying==1.3.4
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
starlette==0.27.0
stqdm==0.0.5
submitit==1.5.2
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
# tensorflow-intel==2.14.0 Install if you are on Windows
termcolor==2.5.0
threadpoolctl==3.5.0
torch==2.0.1
torchaudio==2.0.2
tqdm==4.65.0
treetable==0.2.5
typing-extensions==4.7.1
urllib3==2.2.3
uvicorn==0.22.0
websockets==11.0.3
Werkzeug==3.0.6
wheel==0.44.0
win32-setctime==1.1.0
wrapt==1.14.1
yt-dlp==2023.7.6

# Git-Installed Packages
ADTOF @ git+https://github.com/MZehren/ADTOF@d87f54777f0275901dffc09364aa4c9d7356a360
madmom @ git+https://github.com/CPJKU/madmom
tapcorrect @ git+https://github.com/MZehren/tapcorrect#subdirectory=python&egg=tapcorrect
